<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- <style>
             		div{border:1px solid #ff7300;padding:20px;margin:10px;border-radius: 5px;}
         		 </style> -->
 		 <script type="text/javascript " src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    </head>
    <body>
    <!-- <div ng-controller="ParentController">父级
    <div  ng-click="clkP()">click--给child</div>
    <div ng-controller="OneSelfController">自己
        <span ng-click="clkme()">click me</span>
        <div ng-controller="ChildController">
            它是OneSelfController的子级
        </div>子级
    </div>
    <div ng-controller="siblingsController">
        它与OneSelfController是平级
    </div>平级
    </div> -->

    <!-- <body ng-app="Myapp">
    <div ng-controller="firstcon">
        <div ng-controller="scend">
            <h1>hello {{ del }}</h1>
            <h1>hello {{ dh }}</h1>
        </div>
        
    </div> -->




    <!-- <div ng-app="myApp">
    
    		<div ng-controller="firstController">
    
    		{{name}}
    
    		{{age}}
    
    		{{sex}}
    
    			<div ng-controller="secondController">
    
    			{{name}}
    
    			{{age}}
    
    			{{sex}}
    			<div ng-show="isShow">显示</div>
    			</div>
    
    		</div>
    
    	</div> -->



    	<div class="drive clearfix"  ng-controller="driveInstallController">
    <div class="act_con fl">
        <h3 class="act_title" ng-bind="driveMs.title"></h3>
        <p class="act_text" ng-bind="driveMs.explain"></p>
        <div>
            <div class="install_btn language" data-name="install" ng-show="ishasDriver" ng-click="installDriver()">安装</div>
            <div class="drive_schedule pr "   ng-show="driveDownShow">
                <span class="pa"></span>
                <div class="in_sch pr" >
                    <p class="do_in_sch pr"  style="width:{{driveDow.percent*3.88}}px">
                    <p class="pa" style="left:5px; top:0;" ng-bind="driveDow.text"></p>
                    <i class="do_btn" ng-class="pause:startShow" ng-controller="installBtn" ng-click="">ttttt</i>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="act_img fr">
        <img ng-src="{{driveMs.imgSrc}}"/>
    </div>
</div>
</body>
    </body>
</html>

<script>
    /*var app=angular.module('firstApp',[]);//app模块名
    app.controller('OneSelfController',function($scope){
        $scope.clkme=function(){
            $scope.$broadcast('sendChild','我给子控制器传递数据');
            $scope.$emit('sendParent','冒泡到父元素')
        }
    }).controller('ParentController',function($scope){
        $scope.$on('sendParent',function(event,data){//监听在子控制器中定义的 sendParent 事件
            console.log('OneSelfController传过来的',data,event.name,event);//事件名称：sendParent
        });
        $scope.clkP=function(){
            $scope.$broadcast('sendAllChild','让siblingsController接收到');
        }
    }).controller('ChildController', function($scope){
        $scope.$on('sendChild', function(event,data) {//监听在子控制器中定义的 sendChild 事件
            console.log('ChildCtrl', data,event.name,event);// 事件名称：sendChild
        });
    }).controller('siblingsController', function($scope){
        $scope.$on('sendAllChild',function(event,data) {
            console.log('值过来吧', data);
        });
        //下面事件不会触发
        $scope.$on('sendParent', function(event,data) {
            console.log('平级得不到值', data);
        });
        $scope.$on('sendChild', function(event,data) {
            console.log('平级得不到值', data);
        });
    });*/

	/*var first= angular.module("Myapp", []).run(function ($rootScope) {
            $rootScope.name = "bbb";
        })
       first.controller("firstcon", function ($scope) {
           $scope.del = "ddd";
       });
       first.controller("scend", function ($scope) {
           $scope.dh = "aaa"
       });*/






var app = angular.module("myApp", []);
app.controller('firstController',function($scope){
	var a 
$scope.name='张三';
$scope.isShow = a;
$scope.age='40';

});

app.controller('secondController',function($scope){

$scope.name='李四';

$scope.sex='男';

})

</script>
