@charset 'utf-8';
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,input,button,fieldset, legend,img { margin:0; padding:0; }
h1,h2,h3,h4,h5,h6{ font-size:24px;}
fieldset,img{ border:none; }
img{display:block;}
li{list-style:none; }
a{text-decoration:none; color: #333;}
a:hover{text-decoration: none;}
body{background:#fff; font-size:14px; font-family:微软雅黑;}
input{background: none;border: 0;outline: none;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:block;}
html{height: 100%;}
body{overflow: hidden;height: 100%;}
.header{width:100%;height: 3.43rem;background:url(../images/bg1.jpg) no-repeat center;-webkit-background-size: cover;
background-size: cover;}
.inheader{width:90%;margin: 0 auto;}
.header h1{text-indent: -9999px;float: left;width:2.65rem;height: 2.65rem;background: url(../images/logo.png) no-repeat;-webkit-background-size: cover;
background-size: cover;margin-top: 0.5rem;}
.inheader p{float: left;margin-left: 10px;font-size: 0.9rem;margin-top: 1.5rem;color: #7c7c7c;}
.main img{width:100%;height: 100%;}